@import "katex/dist/katex.min.css";

html {
  font-family: Inter, system-ui, sans-serif;
  color: #05245f;
  background: #f7f8fc;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

button,
input,
textarea,
select {
  font: inherit;
}

* {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
}
